html, body {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

header {
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1;
}

#navbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

#navbar div{
    display: flex;
    width: 50%;
    padding: 10px;
    align-items: center;
}

#navbar div:nth-child(1) {
    justify-content: start;
}

#navbar div:nth-child(2) {
    justify-content: flex-end;
    text-align: right;
    right: 0;
}

#navbar div a {
    padding: 5px;
    text-decoration: none;
    white-space: normal;
    color: #3b3b3b;
}

a:hover {
    text-decoration: underline;
}

#profile {
    background: url("happy_dog.jpg");
    height: 30px;
    width: 30px;
    background-size: cover;
    border-radius: 50%;
    background-position: -1px;
    cursor: pointer;
}
#profile div {
    padding: 5px;
    line-height: 10px;
}


#middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    text-align: center;
}

#searchbarContainer {
    margin-top: 20px;
    text-align: center;
    position: relative;
}

#searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    outline: 0;
    width: 500px;
    border-radius: 15px;
    border: 1px solid rgb(197, 189, 189);
}

#searchbar:hover {
    box-shadow: 0 0 10px 1px rgb(218, 216, 216);
}
#buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    background: rgb(241, 238, 238);
    border: 2px solid transparent;
}

.button:hover {
    box-shadow: 0 0 2px 1px black;
    border: 2px solid #eee;
}

#search, #voice {
    position:absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    left: 10px;
    color:rgb(197, 189, 189);
}

#voice {
    right: 10px;
    color: rgb(109, 23, 112);
}

#links {
    margin-top: 75px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
}

#footer-content {
    background: #eee;
    border-top: 1px solid black;
}